@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;

.cart-item {
  background-color: $white;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgb(0 0 0 / 10%), 0 0.125rem 0.25rem -0.0625rem rgb(0 0 0 / 6%);
  display: flex;
  flex-direction: row;
  height: 6rem;
  padding: 1rem;

  &__details {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 0.5rem;
  }

  &__name {
    font-size: $font-size-lg;
    font-weight: bold;
  }

  &__price {
    font-size: $font-size-base;
    font-weight: 600;
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__remove-btn {
    background-color: $red;
    border: none;
    border-radius: 0.375rem;
    color: $white;
    cursor: pointer;
    font-size: $font-size-xs;
    margin: 0 1rem;
    padding: 0.25rem 0.5rem;
    transition: background-color 0.2s;

    &:hover {
      background-color: $red-dark;
    }
  }
}
