@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;

.restaurant-list {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  &__title {
    color: $black;
    display: block;
    font-size: $font-size-2xl;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }

  &__loader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  @media (min-width: $screen-mobile) {
    &__loader {
      justify-content: space-between;
    }
  }
}
