@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;

.restaurant-carousel {
  margin: 1rem 0;

  &__toggle-btn {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 4%)) drop-shadow(0 4px 3px rgb(0 0 0 / 10%));
    justify-content: space-between;
    padding: 1rem;
    transition: background-color 0.2s;
    width: 100%;

    &:hover {
      background-color: $white;
    }
  }

  &__title {
    color: $black;
    font-size: $font-size-base;
    font-weight: bold;
  }
  
  &__icon {
    color: $black;
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-in-out;
    
    &--open {
      grid-template-rows: 1fr;
    }
  }

  &__content-inner {
    overflow: hidden;
  }
}
