@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;

.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  &__spinner {
    animation: spin 1s linear infinite;
    border: 0.25rem solid #1f2937;
    border-radius: 9999rem;
    border-top-color: transparent;
    height: 2.5rem;
    width: 2.5rem;
  }

  &__text {
    color: #1f2937;
    font-size: $font-size-lg;
    font-weight: bold;
    margin-top: 1rem;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
