@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;

.whats-on-mind-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  &__title {
    font-size: $font-size-2xl;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
}
