@use "../../styles/colors" as *;

.rating {
  align-items: center;
  display: flex;
  flex-direction: row;

  &__icon {
    color: $green;
    font-size: 1.25rem;
    font-variation-settings: 'FILL' 1;
  }
}
