@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;

.restaurant-info {
  display: flex;
  flex-direction: column;

  &__breadcrumbs {
    color: #6b7280;
  }

  &__breadcrumb-link {
    color: #6b7280;
    font-size: $font-size-xs;
    text-decoration: none;

    &:hover {
      color: #374151;
      text-decoration: underline;
    }
  }

  &__name {
    color: $black;
    font-size: $font-size-3xl;
    font-weight: bold;
    margin-top: 1rem;
  }

  &__card-bg {
    align-items: center;
    background: linear-gradient(to top, #d1d5db, $white);
    border-bottom: 0.125rem solid $gray-light;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    display: flex;
    height: 15rem;
    justify-content: center;
    margin-top: 1rem;
  }

  &__card {
    background-color: $white;
    border: 0.0625rem solid $gray-light;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    height: 12.75rem;
    justify-content: space-between;
    margin: 0 1rem;
    width: 100%;
  }

  &__card-content {
    padding: 1rem;
  }

  &__rating-cost {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    gap: 0.25rem;
  }

  &__cuisine-link {
    color: $orange;
    text-decoration: underline;
  }

  &__meta {
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }

  &__timeline {
    align-items: center;
    color: #9ca3af;
    display: flex;
    flex-direction: column;
    font-size: $font-size-sm;
    font-weight: 800;
    line-height: 1.2;
  }

  &__timeline-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.5rem;
  }

  &__outlet {
    align-items: baseline;
    display: flex;
    gap: 0.25rem;
  }

  &__outlet-label {
    font-size: $font-size-xs;
    font-weight: bold;
  }

  &__outlet-name {
    font-size: $font-size-sm;
    font-weight: 600;
  }

  &__sla {
    font-size: $font-size-xs;
    font-weight: bold;
  }

  &__location {
    align-items: center;
    border-top: 0.125rem solid $gray-light;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.75rem 1rem;
    width: 100%;
  }

  &__distance {
    color: #6b7280;
    font-size: $font-size-sm;
    font-weight: 600;
    padding-left: 0.5rem;
  }
}
