@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;

.body {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  width: 100%;

  @media (max-width: $screen-tablet) {
    row-gap: 2rem;
  }
}
