@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;

.footer {
  align-items: center;
  background-color: $orange-dark;
  color: $white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
  width: 100%;

  @media (max-width: $screen-tablet) {
    padding: 1rem;
  }

  &__logo-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__logo {
    height: 5rem;
    object-fit: contain;
    width: 8rem;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    text-align: center;
  }

  &__copyright {
    font-size: $font-size-base;
  }

  &__social-links {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  &__social-link {
    color: inherit;
    display: block;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $orange-light;
    }

    .material-symbols-outlined {
      font-size: 2.25rem;
      font-variation-settings: 'FILL' 1, 'wght' 500;
    }
  }
}