@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;

.restaurant-card {
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgb(0 0 0 / 10%);
  cursor: pointer;
  margin: 0.625rem;
  max-height: 19rem;
  max-width: 16rem;
  min-height: 19rem;
  min-width: 19rem;
  transition: all 0.3s ease;

  @media (max-width: $screen-tablet) {
    margin: 0.5rem 0;
    max-height: 17.5rem;
    max-width: 12.5rem;
    min-height: 17.5rem;
    min-width: 12.5rem;
  }

  @media (max-width: $screen-mobile) {
    max-height: 17rem;
    max-width: 11rem;
    min-height: 17rem;
    min-width: 11rem;
  }

  &:hover {
    box-shadow: 0 0.25rem 0.375rem -0.0625rem rgb(0 0 0 / 10%);
  }

  &__inner {
    height: 100%;
    padding: 0.5rem;
    transition: transform 0.2s ease;
    width: 100%;

    &:hover {
      transform: scale(0.95);
    }
  }

  &__image-wrapper {
    position: relative;
  }

  &__discount {
    background: linear-gradient(to top, rgb(0 0 0 / 90%), transparent);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    bottom: 0;
    box-sizing: border-box;
    color: $white;
    font-size: $font-size-lg;
    font-weight: 800;
    left: 0;
    margin-bottom: 0.375rem;
    padding: 0 0.75rem 0.125rem;
    position: absolute;
    width: 100%;

    @media (max-width: $screen-tablet) {
      font-size: $font-size-sm;
    }
  }

  &__img {
    border-radius: 1rem;
    box-shadow: 0 0.625rem 0.9375rem -0.1875rem rgb(0 0 0 / 10%);
    height: 10.625rem;
    object-fit: cover;
    width: 100%;

    @media (max-width: $screen-tablet) {
      height: 10rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0.75rem 2.5rem;

    @media (max-width: $screen-mobile) {
      margin: 0 0.5rem;
    }
  }

  &__name {
    color: $black;
    font-size: $font-size-lg;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (max-width: $screen-tablet) {
      font-size: $font-size-base;
    }
  }

  &__meta {
    align-items: center;
    color: $black;
    display: flex;
    flex-direction: row;
    font-size: $font-size-base;
    font-weight: 600;
    gap: 0.25rem;

    @media (max-width: $screen-tablet) {
      font-size: $font-size-xs;
    }
  }

  &__cuisines {
    color: $gray;
    font-size: $font-size-base;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (max-width: $screen-tablet) {
      font-size: $font-size-sm;
    }
  }

  &__area {
    color: $gray;
    font-size: $font-size-base;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (max-width: $screen-tablet) {
      font-size: $font-size-sm;
    }
  }
}