@use "../../styles/variables" as *;

.restaurants-by-tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__loader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  @media (min-width: $screen-mobile) {
    justify-content: space-between;

    &__loader {
      justify-content: space-between;
    }
  }
}
