@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;

.menu-offers-card {
  border: 0.0625rem solid $gray-light;
  border-radius: 1rem;
  margin: 1.25rem 0.625rem;
  max-height: 5rem;
  max-width: 21.875rem;
  min-height: 5rem;
  min-width: 21.875rem;
  padding: 0.625rem;
  transition: all 0.3s ease;
  
  &:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    transform: scale(0.95);
  }

  &__content {
    display: flex;
    flex-direction: row;
  }

  &__image {
    margin-right: 0.625rem;
    width: 3.5rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__header {
    color: $black;
    font-size: $font-size-lg;
    font-weight: bold;
  }

  &__coupon {
    color: #4b5563;
    font-size: $font-size-base;
    font-weight: 600;
  }
}
