@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;

.explore-card {
  align-items: center;
  border: 0.0625rem solid $gray-light;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  color: #4b5563;
  display: flex;
  font-size: $font-size-base;
  font-weight: 600;
  height: 3.125rem;
  justify-content: center;
  margin: 0.32rem 0.26rem;
  text-decoration: none;
  width: 19.2rem;

  @media (max-width: $screen-tablet) {
    width: 28.8rem;
  }

  @media (max-width: $screen-mobile) {
    margin: 0.32rem auto;
    width: 20rem;
  }
}
