@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;

.about {
  color: $orange;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  gap: 1rem;
  margin-bottom: 2rem;

  &__title {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    font-size: $font-size-3xl;
    font-weight: bold;
    gap: 0.5rem;
  }

  &__source-wrapper {
    font-size: $font-size-lg;
  }

  &__source-link {
    color: $blue; /* Standard link blue */
    margin: 0 0.125rem;
    text-decoration: none;
    
    &:hover {
      color: $blue-dark; /* Darker blue on hover */
      text-decoration: underline;
    }
  }

  &__subtitle {
    font-size: $font-size-xl;
    font-weight: bold;
  }
  
  &__section-title {
    font-size: $font-size-lg;
    font-weight: bold;
  }

  &__text {
    color: $black;
    font-weight: 600;
    line-height: 1.5;

    &--inline {
      color: $black;
      font-weight: 600;
    }
  }

  &__list {
    color: $black;
    font-size: $font-size-base;
    font-weight: 600;
    line-height: 1.5;
    list-style-type: disc;
    padding-left: 2.5rem;
  }

  &__list-item {
    margin-bottom: 0.5rem;

    &::marker {
      color: $orange-dark;
    }
  }

  &__highlight {
    color: $orange;
  }

  /* Responsive Media Queries */
  @media (max-width: $screen-tablet) {
    &__title {
      font-size: $font-size-2xl;
    }
    
    &__source-wrapper {
      font-size: $font-size-base;
    }
  }

  @media (max-width: $screen-mobile) {
    padding: 0 1rem;
    
    &__title {
      align-items: flex-start;
      flex-direction: column;
      font-size: $font-size-xl;
      gap: 0.25rem;
    }
    
    &__source-wrapper {
      font-size: $font-size-sm;
    }
    
    &__subtitle {
      font-size: $font-size-lg;
    }
    
    &__section-title {
      font-size: $font-size-base;
    }
    
    &__text, &__list {
      font-size: $font-size-sm;
    }
  }
}
