$orange: #f97316;
$orange-light: #fdba74;
$orange-dark: #f97316;
$black: #000;
$white: #fff;
$slate: #1e293b;
$gray: #9ca3af;
$gray-light: #e5e7eb;
$gray-lightest: #f9fafb;
$blue: #2563eb;
$blue-dark: #1d4ed8;
$red: #ef4444;
$red-dark: #dc2626;
$green: #16a34a;
$green-dark: #15803d;
